name: Create RSS
on:
  issues:
    types: [labeled]

jobs:
  create-rss:
    if: github.repository == 'jaywcjlove/quick-rss' && github.event_name == 'issues' && contains(github.event.issue.labels.*.name, 'weekly')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - run: npm install

      - name: Get the label modifier
        run: |
          MODIFIER=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/events" \
          | jq -r '[.[] | select(.event == "labeled" and .label.name == "weekly")] | last | .actor.login')
          
          echo "Label modifier: $MODIFIER"

          # 将修改者 login 写入环境变量
          echo "MODIFIER=$MODIFIER" >> $GITHUB_ENV


      - name: Create RSS
        run: node .github/scripts/create-rss.mjs 
        # 判断是不是仓库作者更新的 label，并且判断是否包含 weekly
        if: env.MODIFIER == 'jaywcjlove' && contains(github.event.issue.labels.*.name, 'weekly')
        env:
          ISSUE_BODY: ${{ github.event.issue.body }}
          ISSUE_LINK: ${{ github.event.issue.html_url }}
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_ID: ${{ github.event.issue.number }}
          ISSUE_DATE: ${{ github.event.issue.created_at }}
          ISSUE_AUTHOR: ${{ github.event.issue.user.login }}
          ISSUE_AVATAR: ${{ github.event.issue.user.avatar_url }}

      - name: Commit changes
        if: env.MODIFIER == 'jaywcjlove' && contains(github.event.issue.labels.*.name, 'weekly')
        env:
          ISSUE_ID: ${{ github.event.issue.number }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          # 获取当前分支名称
          CURRENT_BRANCH=$(echo ${GITHUB_REF#refs/heads/})
          git add .
          git commit -m "Quick RSS Feed: updated or added #$ISSUE_ID"
          git push origin $CURRENT_BRANCH

      - name: Trigger Deploy
        uses: actions/github-script@v7
        with:
          script: |
            const res = await github.rest.repos.createDispatchEvent({
              owner: 'jaywcjlove',
              repo: 'quick-rss',
              event_type: 'run-deploy'
            });
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}